---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>
    <h1>About Angelinos</h1>
    <h2>... they smell like cabage!</h2>

    <p>They have olive skin and dark hair. Their skin shimmers like ocean waves in the sun. There will be an odor of cabage and earthly soils upon the air.</p>

    <p>This will be a reference on how to overcome and defeat an Angelino.</p>
	</body>
</html>
