---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Imp's Home Page";
---
<BaseLayout pageTitle={pageTitle}>
  <p>Help me Officer!!</p><p>Its taken my baby!!</p>
</BaseLayout>